.main {
	padding: 1.5rem;
	display: flex;
}

.grid_container {
	display: inline-grid;
	grid-template-columns: 1rem 1fr;
}

.main_container {
	background-color: var(--foreground);
	padding: 2rem;
	border-radius: 1rem;
	max-width: 60rem;
	flex: 1;
	margin-left: auto;
	margin-right: auto;
}

.main_flex {
	display: flex;
	align-items: flex-start;
	align-items: center;
}

.profile_icon {
	background: none;
	border: none;
	border-radius: 25%;
	width: 8rem;
	height: auto;
	padding-right: 1rem;
}

.name {
	color: var(--text);
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 500;
	padding-bottom: 1rem;
}

.sidebar {
	height: 100%;
	background-color: var(--foreground);
	margin-right: 1.5rem;
	border-radius: 1rem;
	font-size: 1.5rem;
	color: var(--text);
	padding: 1rem;
	flex: 0 0 auto;
}